<div class="spacer" [ngClass]="{'full-height': fullHeight}"></div>
<div class="header" [ngClass]="{'full-height': fullHeight}">
  <div class="content">
    <div class="brand">
      <img src="assets/brand.svg" alt="Jamie Kay">
    </div>

    <div class="options">
      <a (click)="optionSelected.next('about')">about</a>
      <a (click)="optionSelected.next('pricing')">pricing</a>
      <a (click)="optionSelected.next('testimonials')">testimonials</a>
      <a (click)="optionSelected.next('contact')">contact</a>
      <div class="social-icons">
        <img src="assets/instagram-icon.png" alt="">
        <img src="assets/facebook-icon.png" alt="">
      </div>
    </div>
    <div class="menu-button">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
