@import '../../../colors.scss';

.main-container {
  color: $med-gray;
  padding: 80px 0 30px 0;
}

.top-title-container {
  display: grid;
  grid-template: '. titleArea .' '. titleArea .';
  grid-template-columns: 1fr auto 1fr;
  grid-column-gap: 35px;
  grid-template-rows: 1fr 1fr;
  div {
    text-align: center;
  }
}

.title {
  grid-area: titleArea;
  font-size: 44px;
  font-weight: 300;
}

.sub-title {
  font-size: 28px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.top-spacer {
  border-bottom: 1px solid $xlight-gray;
}
