<div>

  <app-header (optionSelected)="onHeaderOptionSelected($event)" [fullHeight]="showFullHeightHeader | async">
  </app-header>
  <img src="{{bannerImageUrl | async}}">

  <app-section-title title="Hi. My name is Jamie." subTitle="I am so glad you are here!"></app-section-title>
  <table>
    <tr>
      <td class="text">
        Hi! I'm Jamie, a natural light photographer based in beautiful Cache Valley Utah. I picked up a camera in 2010
        and haven't been able to put it down. I am forever inspired by families and passionate about documenting them.
        Think you've got a rambunctious crew? BRING IT ON! As the oldest of 7 children, and a mother to 5 of my own, I
        am no stranger to chaos!
      </td>
      <td style="width: 33%;"><img src="assets/about/jamie-02.jpg" alt=""></td>
    </tr>
    <tr>
      <td><img src="assets/about/jamie-04.jpg" alt=""></td>
      <td class="text pad-sm">
        Every family has their own unique vibe and connection - an exclusive one-of-a-kind love. Capturing this energy
        is my favorite part of the job!
      </td>
    </tr>
  </table>

  <app-section-title #aboutRef title="About Me" subTitle="Why don't I introduce myself."></app-section-title>
  <img src="assets/about/jamie-05.jpg" alt="">
  <div class="title">I am a seeker of the light, in all its forms.</div>
  <div class="text">
    I have always been fascinated by the light. The way it dances across the water, elongates the shadows, and shimmers
    through the trees. It literally amplifies and gives life to everything it touches. My favorite kind of light is the
    kind that shines from the inside out. Light with a capital “L” that illuminates the heart and sparkles in the eye of
    all living creatures. I have a knack for noticing this kind of light… and one of the greatest joys in my life is
    photographing it.
  </div>

  <div class="overlapping-container">
    <img class="overlapping-3" src="assets/info/family.jpg" alt="">
    <img class="overlapping-2" src="assets/info/yellow-flower.jpg" alt="">
    <img class="overlapping-1" src="assets/info/couple.jpg" alt="">
  </div>

  <app-section-title title="More Info" subTitle="What else can I say?"></app-section-title>
  <table>
    <tr>
      <td class="text">
        <p>One of my favorite phrases is</p>
        <p style="text-align: center; color: #444444"><b>"I've got you."</b></p>
        <p>
          I say it to my friends, I say it to my kids. I even say it to myself! (Gotta have your own back, right?!) And
          today I’m saying it to you.
        </p>
        <p>I know how important your family pictures are to you. How do I know? Because you’re here.</p>
      </td>
      <td style="width: 50%;"><img src="assets/info/more-info-01.jpg" alt=""></td>
    </tr>
    <tr>
      <td><img src="assets/info/more-info-02.jpg" alt=""></td>
      <td class="text pad">
        <p>
          By the time a family arrives at their session they have already invested time, money, and a heck of a lot of
          mental energy. Between aligning everyone's schedule and figuring out what on earth everyone is going to wear,
          it can feel pretty stressful!
        </p>
        <p>
          But don’t you worry about a thing my friend. I’ve got you. Your only job is to show up and love on your people
          the best way you know how. I’ll take care of the rest.
        </p>
      </td>
    </tr>
  </table>

  <div class="text" style="padding: 40px">
    <p>
      We’ll strike a balance between posing you so you look amazing (pinky swear!) and letting things unfold naturally
      so we capture the real you! And the best news of all? You don’t have to worry about managing your kids at all
      during our session. You can totally leave that up to me (I’ve got a few tricks up my sleeves!)
    </p>
    <p>
      Fun is always the goal, because I want your kids to be excited when you invite me back!
    </p>
  </div>

  <img src="assets/info/larger-family.jpg" alt="">

  <app-section-title #pricingRef title="Pricing" subTitle="For priceless memories"></app-section-title>

  <div class="pricing-cards">
    <app-price-card img="assets/pricing/birth.jpg" header="Births" subHeader="Starting at $550">
    </app-price-card>
    <app-price-card img="assets/pricing/lifestyle.jpg" header="Lifestyle" subHeader="Starting at $350">
    </app-price-card>
    <app-price-card img="assets/pricing/commercial.jpg" header="Commercial" subHeader="Starting at $200">
    </app-price-card>
    <app-price-card img="assets/pricing/wedding.jpg" header="Weddings" subHeader="Collections starting at $1500">
    </app-price-card>
  </div>

  <!-- <app-section-title title="Pricing" subTitle="All magic comes at a price, deary..."></app-section-title>
  <app-price-card img="http://placekitten.com/200/250" header="Births" subHeader="Sessions starting at $550">
  </app-price-card> -->
</div>
