@import '../colors';
@import '../variables';

:host {
  &>div {
    width: 100%;
    max-width: $maxContentWidth;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}

table {
  border-spacing: 0;

  tr {

    &:first-child {
      img {
        vertical-align: bottom;
      }
    }

    &:last-child {
      img {
        vertical-align: top;
      }
    }
  }
}

.text {
  font-size: 20px;
  color: $gray;
  text-align: justify;
  line-height: 1.7em;
  font-weight: 300;
  padding: 0 10%;

  &.pad-sm {
    padding: 0 5%;
  }

  @media (max-width: $tablet) {
    font-size: 18px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

.title {
  text-align: center;
  font-size: 38px;
  font-weight: 300;
  padding: 50px 20px;
}

.overlapping-container {
  margin-top: 80px;
  position: relative;
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.20);
  }

  .overlapping-1 {
    width: 58%;
    border: 3px solid #FFFFFF;
    transform: translate(26%, -60%);
  }

  .overlapping-2 {
    width: 37%;
    border: 3px solid #FFFFFF;
    transform: translate(-78%, -43%);
  }

  .overlapping-3 {
    width: 79%;
    transform: translate(0, 50%);
  }
}
