<div>
  <app-header></app-header>
  <app-slide-show></app-slide-show>
  <app-section-title title="Hi. My name is Jamie." subTitle="I am so glad you are here!"></app-section-title>
  <app-section-title title="About Me" subTitle="Why don't I introduce myself."></app-section-title>
  <app-section-title title="More Info"></app-section-title>
  <app-section-title title="Pricing" subTitle="All magic comes at a price, deary..."></app-section-title>
  <app-price-card img="http://placekitten.com/200/250" header="Births" subHeader="Sessions starting at $550"></app-price-card>
  <app-section-title title="Pricing" subTitle="All magic comes at a price, deary..."></app-section-title>
</div>
