/* You can add global styles to this file, and also import other style files */

@import './colors';

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $med-gray;
}

* {
  font-family: 'Roboto', sans-serif;
}
